[phases.setup]
nixPkgs = ["nodejs_20", "npm"]

[phases.install]
cmds = ["npm ci --include=dev"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "sh -c 'npx serve -s dist --listen tcp://0.0.0.0:$PORT'"

[variables]
NODE_ENV = "production"
